@import "../../Styles/common.scss";

.productlistclass {
  padding: 0px 125px;
  font-family: $nanumGothic;

  nav {
    border: 1px solid black;
    height: 120px;
    width: 100%;
  }

  header {
    border: 1px solid red;
    @include flex(center, _);
    flex-direction: column;
    height: 98px;

    p {
      font-size: 28px;
      font-weight: bold;
    }

    div {
      font-size: 12px;
      color: #222222;
    }
  }

  .underClassification {
    border: 1px solid green;
    height: 40px;
  }
}
